:root{
    /* Colours */
    --color-text: #fff;
    --colar-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152D;

    /* Fonts */
    --font-robot: "Roboto";
}